
body{
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}
.me{
    margin: 10px 0px 0px 80px;
}

.myname{
    margin: 16px;
    color: blanchedalmond;
    font-size: 48px;
    text-align: center;
    width: 100%;
    line-height: 1;
    background-color: rgb(49, 40, 16);
    width: 98%;
}
main{
    max-width: 960px;
    margin: 40px auto;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
   
}
.first-title{
    color: lightskyblue;
    font-size: 40px;
    margin-left: 40px;
    

}
.head{
    display: block;
}
.linksdiv{
    margin: 70px auto;
    font-size: 20px;
    display: flex;
    margin-left: 40px;
    

}

section {
    display: flex;
    padding: 24px 0;
    border-bottom: 1px solid lightgrey;
  }
#NUM{
    margin-left: 100px;
}  
a{
    color: black;
    text-decoration: none;
}
.div1{
    display: inline-flex;
}
p{
    
    margin: 40px 40px 0px 40px
}
.sagma,.rafc{
    display: block;   
}
.youcode,.ismtr,.lycée{
    display: block;
}
.skills{
    display: inline-flex;
}
.date{
    margin-left: 600px;
    display: flex;
}
h2{
    margin-left: 80px;
}
h3{
    margin-left: 80px ;
}
h4{
    margin-left: 120px;
}
ul{
    margin-left: 140px;
}
.interests-container {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
  }
  
.interests-container img {
    height: 35px;
    opacity: 0.75;
    padding: 30px;
  }
  .educ{
      margin-left: 120px;
  }
  @media only screen and (max-width : 768px) {
    section {
      grid-template-columns: 1fr;
    }
  