body{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}
.me{
    margin: 0px 0px 0px 80px;
}

.myname{
    color: blanchedalmond;
    font-size: 48px;
    text-align: center;
    width: 100%;
    line-height: 1;
    background-color: rgb(49, 40, 16);
    margin: 0px 0px 10px 80px;
    width: 90%;
}
.container{
    border: 2px solid black;
    margin: 350px 200px 100px 350px;
}
.first-title{
    color: lightskyblue;
    font-size: 40px;
    margin: 0px 0px 0px 100px;

}
.head{
    display: inline-flex;
}
.links{
    margin: 70px 0px 0px 0px;
    font-size: 20px;
    text-decoration: none;

}